<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="stylesheet" href="/static/css/glide.core.min.css" />
        <link rel="stylesheet" href="https://use.typekit.net/doq8afn.css" />
        <script>
            window.onload = function WindowLoad(event) {
                var replacers = document.querySelectorAll("[data-replace]");
                console.log(replacers);
                for (var i = 0; i < replacers.length; i++) {
                    let replaceClasses = JSON.parse(
                        replacers[i].dataset.replace.replace(/'/g, '"')
                    );
                    Object.keys(replaceClasses).forEach(function (key) {
                        replacers[i].classList.remove(key);
                        replacers[i].classList.add(replaceClasses[key]);
                    });
                }
            };
        </script>

        {% if glide %}
        <script src="static/js/glide.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        {% endif %}
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap"
            rel="stylesheet"
        />
        {% if description %}
        <meta name="description" content="{{description}}" />
        {% endif %} {% block head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        {% if prism == true %}
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/prism-tomorrow.css"
        />
        {% endif %}
    </head>
    <body>
        {% include "./partials/navbar.html" %} {{ content | safe }} {% include
        "./partials/footer.html" %}

        <script src="/static/js/alpine_screen.js"></script>
        <script src="/static/js/alpine.js"></script>

        {% if path == "home" %}
        <!-- Netlify Identity Widget -->
        <!-- Needed only if you are using Netlify Identity feature -->
        <script
            type="text/javascript"
            src="https://identity.netlify.com/v1/netlify-identity-widget.js"
        ></script>
        {% endif %} {% block js %}{% endblock %}
    </body>
</html>
