---
layout: default

+title: John Greenow
path: home
glide: true
---

<div class="container mx-auto flex flex-col justify-center items-center">
    <div class="max-w-screen-xl">
        <header class="grid grid-flow-row grid-cols-2 gap-4 p-4">
            <img
                src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                alt="john"
                class="col-span-2 sm:col-span-1"
            />
            <div
                class="
                    transform
                    col-span-2
                    sm:col-span-1
                    md:-translate-x-24
                    -translate-y-8
                    my-auto
                "
            >
                <h1 class="display big-text font-bold">
                    Coaching, Communication, Connection
                </h1>
                <p class="max-w-prose pt-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Obcaecati, officia! Odit voluptate minima asperiores dolorem
                    dignissimos optio impedit tempora sed magni recusandae.
                    Numquam, consectetur vel? Corrupti, aliquid repudiandae quae
                    adipisci <a>beatae exercitationem</a>, enim, minima ullam
                    fugiat hic praesentium nostrum tenetur!
                </p>
            </div>
        </header>
    </div>
</div>
{% if quotes %}
<div class="w-full bg-gray-900 flex p-4 my-6 overflow-hidden relative">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides flex items-center">
                {% for testimonial in quotes.items %}
                <li class="glide__slide p-5 md:m-3">
                    <p class="max-w-prose">{{testimonial.quote}}</p>
                    <p class="font-display text-center italic text-gray-400">
                        {{testimonial.name}}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="container mx-auto flex flex-col justify-center items-center my-4">
    <h1 class="lg:text-6xl md:text-6xl sm:text-5xl text-4xl">
        The latest from John
    </h1>
    <div class="bg-gray-500 flex flex-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
        soluta.
    </div>
</div>

<script>
    new Glide(".glide", {
        gap: 100,
        type: "carousel",
        perView: 4,
        focusAt: "center",
        autoplay: 5000,
        animationDuration: 1000,
        throttle: true,
        breakpoints: { 600: { perView: 1 }, 1200: { perView: 3 } },
    }).mount();
</script>
