---
layout: default

title: John Greenow
path: home
glide: true
---

<div
    class="container mx-auto flex flex-col justify-center items-center md:my-8"
>
    <div class="max-w-screen-xl">
        <header
            class="flex p-4 flex-col lg:flex-row justify-center items-center"
        >
            <div>
                <img
                    src="static/img/john2.jpg"
                    alt="John Greenow"
                    class="block opacity-0 transition duration-1000"
                    data-replace="{ 'opacity-0': 'opacity-100', 'lg:-translate-x-60': 'lg:-translate-x-24' }"
                />
            </div>
            <div
                class="transform transition duration-1000 lg:-translate-x-60 lg:-translate-y-0 -translate-y-8 my-auto bg-black py-2 lg:p-4 opacity-0 delay-300"
                data-replace="{ 'opacity-0': 'opacity-100', 'lg:-translate-x-60': 'lg:-translate-x-24' }"
            >
                <h1
                    class="display transition transform duration-1000 lg:-translate-x-24 big-text font-bold break-words opacity-0 delay-700"
                    data-replace="{ 'opacity-0': 'opacity-100', 'lg:-translate-x-24': 'lg:translate-x-0' }"
                >
                    Coaching, Communication, Connection
                </h1>
                <p
                    class="max-w-prose pt-2 text-lg transition transform duration-1000 opacity-0 lg:-translate-x-24 delay-1000"
                    data-replace="{ 'opacity-0': 'opacity-100', 'lg:-translate-x-24': 'lg:translate-x-0' }"
                >
                    With over 30 years of experience in pastoring, preaching and
                    leadership, John is passionate about helping people find
                    their purpose in life.
                    <br />
                </p>
            </div>
        </header>
    </div>
</div>
{% if quotes %}
<div class="w-full bg-gray-900 flex p-4 overflow-hidden relative">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides flex items-center">
                {% for testimonial in quotes.items %}
                <li class="glide__slide p-5 md:m-3">
                    <p class="max-w-prose">{{testimonial.quote}}</p>
                    <p
                        class="font-display text-left font-bold text-gray-200 mt-2"
                    >
                        {{testimonial.name}}
                    </p>
                    <p
                        class="font-display text-left italic text-gray-400 text-sm max-w-xs"
                    >
                        {{testimonial.position}}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %} {% include "./_includes/partials/eqi-hero.html" %}

<div
    class="w-full flex my-10 py-14 overflow-hidden relative justify-center bg-gray-900"
>
    <blockquote class="text-left md:text-left text-xl max-w-prose px-4">
        “I have had the privilege of speaking in many church settings around the
        world, and I believe I can help encourage and equip you to maximise your
        effectiveness“
    </blockquote>
</div>

{% include "./_includes/partials/contact-form.html" %}

<script>
    new Glide(".glide", {
        gap: 100,
        type: "carousel",
        perView: 2,
        focusAt: "center",
        autoplay: 5000,
        animationDuration: 1000,
        throttle: true,
        breakpoints: { 600: { perView: 1 }, 1200: { perView: 2 } },
    }).mount();
</script>
