<div class="container p-4 flex max-w-screen-xl justify-center">
    <div class="flex mx-2 max-w-lg flex-col">
        <h1 class="text-5xl block font-bold display pb-3" id="contact">
            Get in touch
        </h1>
        <p>How can I help you in your world?</p>
        <p class="text-gray-400 text-sm mb-1">
            Whether that’s as a coach, a speaker or a voice of experience, get
            in touch and I will do my best to serve you.
        </p>
        <form id="contact-form" class="w-full m-auto" method="POST" netlify>
            <div class="flex flex-wrap mx-auto">
                <div class="w-full md:w-1/2 p-2">
                    <label for="first-name font-bold" class="mb-1 block"
                        >Name</label
                    >
                    <input
                        type="name"
                        class="p-2 bg-gray-800 w-full"
                        name="test"
                        id="first-name"
                        block
                        w-full
                    />
                </div>
                <div class="w-full md:w-1/2 p-2">
                    <label for="email font-bold" class="mb-1 block"
                        >Email</label
                    >
                    <input
                        type="email"
                        class="p-2 bg-gray-800 w-full"
                        name="test"
                        id="email"
                        block
                    />
                </div>
                <div class="w-full p-2">
                    <label for="comment font-bold" class="mb-1 block"
                        >Comment</label
                    >
                    <textarea
                        type="textarea"
                        class="p-2 bg-gray-800 w-full focus:border-transparent"
                        name="test"
                        id="email"
                        block
                    ></textarea>
                </div>
                <div class="w-full md:w-1/2 p-2">
                    <input
                        type="submit"
                        class="
                            p-3
                            bg-gray-800
                            text-white
                            hover:bg-purple-500
                            transition-colors
                        "
                        value="Submit"
                    />
                </div>
            </div>
        </form>
    </div>
</div>
