<div
    class="
        container
        p-4
        flex flex-col-reverse
        max-w-screen-xl
        md:flex-row
        py-8
        md:py-16
    "
>
    <div class="w-full px-3 md:w-1/2 flex items-center justify-center">
        <a href="https://www.eitrainingcompany.com/eq-i/"
            ><img
                src="./static/img/eqi.png"
                alt=""
                class="object-contain max-h-32"
        /></a>
    </div>
    <div class="w-full md:w-1/2 md:px-3 md:py-4 pb-6">
        <h2 class="text-5xl block font-bold display" id="bio">
            A little about myself
        </h2>
        <div class="max-w-prose pt-2 flex-col space-y-2">
            <p>
                Hi, I'm John and I’m from the North East of England. I am
                married to my Swedish wife Lisa and we have three sons, Ben,
                Jack and Jonas.
            </p>
            <p>
                For the last thirty years I have been a leader in a church
                setting as the Lead Pastor of a church, involved in leading
                teams and hundreds of people through change and helping them in
                their journey.
            </p>
            <p>
                This journey included navigating the construction of a £5
                million church building and conference centre in the middle of a
                Global financial crisis and leading a church through challenging
                seasons and transitions.
            </p>
            <h3 class="font-bold">I'm still a Pastor!</h3>
            <p>
                As an associate Pastor at Glow Church Durham I have the
                privilege of serving the vision there, and I am also a Coach
                using EQi tools and an experienced speaker.
            </p>
        </div>
    </div>
</div>
