<div class="container p-4 flex flex-col-reverse max-w-screen-xl md:flex-row py-16">
    <div class="w-full px-3 md:w-1/2 flex items-center justify-end">
        <img src="./static/img/eqi.png" alt="" class="object-contain max-h-32" />
    </div>

    <div class="w-full md:w-1/2 md:px-3 md:py-4 pb-6">
        <h2 class="text-5xl block font-bold display">Certified Trainer</h2>
        <p class="max-w-prose pt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut itaque
            fuga qui in, alias nesciunt animi ipsa unde nam consectetur
            pariatur, harum praesentium, voluptatem ipsam voluptates nisi rerum
            voluptate dignissimos!
        </p>
    </div>
</div>
