    
<div class="container p-4 flex flex-col-reverse max-w-screen-xl md:flex-row py-8 md:py-16">
    <div class="w-full px-3 md:w-1/2 flex items-center justify-center">
        <a href="https://www.eitrainingcompany.com/eq-i/"><img src="./static/img/eqi.png" alt="" class="object-contain max-h-32" /></a>
    </div>
    <div class="w-full md:w-1/2 md:px-3 md:py-4 pb-6">
        <h2 class="text-5xl block font-bold display" id="bio">Certified Trainer</h2>
        <p class="max-w-prose pt-2">
        John and his wife Lisa were the Lead Pastors of Xcel Church in County Durham (now Glow Church Durham) from 2007 until 2021.
        <p>John has spoken to groups in over 5+ nations </p>

        </p>
    </div>
</div>

