<div class="bg-gray-900 py-14">
    <div class="container p-4 flex flex-col max-w-xl md:flex-col ">
        <h2 class="text-5xl font-bold display">The latest from John</h2>
        <p class="max-w-prose pt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut itaque
            fuga qui in, alias nesciunt animi ipsa unde nam consectetur
            pariatur, harum praesentium, voluptatem ipsam voluptates nisi rerum
            voluptate dignissimos!
            {{blog}}
        </p>
    </div>
</div>
